@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto|Raleway');
html {
  background: url(../img/turkki.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ 
}

body {
    margin: 20px;
}

h1 {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

h2 {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    text-align: center;
}

h4 {
    font-weight: lighter;
    font-size: 30px;
    padding: 0;
    padding-top: 10px;
    margin: 0;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 2em;
}

a {
    text-decoration: none;
}

.menu {
  padding: 1rem; 
  text-align: center;
  width: 17%;
  display: block;
  position: relative;
  float: left;
}

.menu b {
    letter-spacing: 2px;
}

.menu i {
    margin-top: 0px;
}

.main {
    width: 100%;
    display: block;
    padding: 3%;
    float: left;
    margin: 0;
    padding: 0;
}

.callout {
    display: block;
    background: rgba(255, 255, 255, 0.4);
    margin: 0;
    width: 72%;
    float: right;
    padding: 3%;
    margin-right: 1%;
    min-height: 630px;
}

.callout p {
    font-size: 120%;
    line-height: 150%;
    padding-bottom: 20px;
    padding-left: 10px;
}

.center {
    text-align: center;
}

hr {
  max-width: 98%;
  height: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #000000;
  border-left: 0;
    padding-top: 30px;
  margin: 1.25rem auto;
  clear: both;
    
}

.button {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  vertical-align: middle;
  border-radius: 0;
  padding: 0.85em 1em;
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
  background-color: #000000;
  color: #fefefe; 
  border:none;
    outline: none;
}

.button4 {
  border: 0px;
  color: black;
  background: rgba(0, 0, 0, 0.3);
  display:inline-block;
    float: left;
  width: 46%;
  padding-top: 30px;
  padding-bottom: 30px;
    margin-left: 2%;
    margin-right: 2%;
  margin-bottom: 30px;
  text-align: center;
}

.button4:hover {
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

.button5 {
  border: 0px;
  color: black;
  background: rgba(0, 0, 0, 0.3);
  display:inline-block;
    float: left;
  width: 46%;
  padding-top: 30px;
  padding-bottom: 30px;
    margin-left: 2%;
    margin-right: 2%;
  margin-bottom: 30px;
  text-align: center;
}

.button5:hover {
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

/* MENU TUSKA */

ul {
    margin-left: 0;
    padding: 0;
}

li {
  border: 0px solid #000000;
  background: rgba(0, 0, 0, 0.3);
  color: black;
  display:inline-block;
  width: 90%;
  padding: 10px 10px;
  text-align: center;
  margin-bottom: 10px;
}

li a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.selected,
li:hover {
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

li a:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

/*Kivat koodijutut taas*/

.numbers {
    width: 49%;
    text-align: center;
    display: block;
    float: left;
}

.numbers img {
    width: 90%;
}

/*ota yhteyttä kuva*/

.contact {
    width: 49%;
    text-align: center;
    display: inline-block;
    float: left;
    padding-top: 60px;
    margin: 0 auto;
}

.contact img {
    width: 90%;
}

/*Ja nyt kuvat*/

.photos {
    text-align: left;
    display: inline-block;
    float: left;
    padding-top: 20px;
    margin: 0 auto;
}

.p1 {
    width: 79%;
}

.p2 {
    width: 19%;
    padding-left: 2%;
}

.p3 {
    width: 57%;
}

.p4 {
    width: 39%;
    padding-left: 2%;
}

.p5 {
    width: 45%;
    padding-right: 2%;
}

.photos img {
    width: 100%;
}

#finnkino h5 {
    font-family: 'Playfair Display', serif;
    display: inline-block;
    vertical-align: top;
    float: left;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 1em;
}

select {
    height: 27px;
    outline: none;
    border: solid 1px black;
}

.movies {
    background: black;
    padding: 1em 2em;
    margin-top: 1.5em;
    color: white;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
}

.movies i {
    font-size: 80%;
}

.movies hr {
    border-color: white;
    margin: 10px;
    margin-left: 0;
    padding: 0;
    width: 100%;
}

.movies img {
    display: inline-block;
    vertical-align: middle;
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
}

#finnkino hr {
    padding: 0;
    margin: 0;
    opacity: 0;
}